<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>first a django web</title>
</head>
<style>
     .fileinput-button {
            position: relative;
            display: inline-block;
            overflow: hidden;
            background-color: darkseagreen;
            height: 30px;
            width: 50px;
        }

        .fileinput-button input{
            position:absolute;
            right: 0px;
            top:0px;
            opacity: 0;
            -ms-filter: 'alpha(opacity=0)';
            font-size: 200px;
        }
</style>
<body bgcolor="#b0c4de">
<form action="/index/student" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" name="name" value="jack">

    car<input type="checkbox" name="checkbox" value="checkbox" checked="checked" />

    <input  type="submit" name="submit" value="提交">

</form>
<form action="">
    <a href="download">下载模板</a>
    <br/>



       <span class="fileinput-button">
            <span >上传</span>
            <input type="file">
        </span>


    <p><input type="submit" value="提交"></p>
</form>
</body>
</html>