{% extends "base.html" %}

{% block summary %}
<style type="text/css">
    .pass {
    }
</style>
    <table class="summary_table">
	<tr>
		<th>STRESS Test Result</th>
		<th>{{testresult}}</th>

	</tr>
	<tr>
		<td>SW</td>
		<td>{{ SW }}</td>
	</tr>
	<tr>
		<td>Release Time</td>
		<td>{{buildDate}}</td>
	</tr>
	<tr>
		<td>Test Start Time</td>
		<td>{{startTime}}</td>

	</tr>
	<tr>
		<td>Test Stop Time</td>
		<td>{{EndTime}}</td>
	</tr>	
	<tr>
		<td>Test Total Execution Time</td>
		<td>{{totalExeTime}}</td>
	</tr>
	<tr>
		<td>ANR</td>
		{% for device in testresult|dictsort:"phoneName" %}
		<td><span class="{% if device.summary.ANR == 0 %}passCount{% else %}failCount{% endif %}">{{device.summary.ANR}}</span></td>
		{% endfor %}
	</tr>
	<tr>
		<td>Tombstone</td>
		{% for device in testresult|dictsort:"phoneName" %}
		<td><span class="{% if device.summary.Tombstone == 0 %}passCount{% else %}failCount{% endif %}">{{device.summary.Tombstone}}</span></td>
		{% endfor %}
	</tr>
	<tr>
		<td>Force Close</td>
		{% for device in testresult|dictsort:"phoneName" %}
		<td><span class="{% if device.summary.FC == 0 %}passCount{% else %}failCount{% endif %}">{{device.summary.FC}}</span></td>
		{% endfor %}
	</tr>
	<tr>
		<td>TV Reboot</td>
		{% for device in testresult|dictsort:"phoneName" %}
		<td><span class="{% if device.summary.Reset == 0 %}passCount{% else %}failCount{% endif %}">{{device.summary.Reset}}</span></td>
		{% endfor %}
	</tr>
	<tr>
		<td><span class="{% if totalError == 0 %}passCount{% else %}failCount{% endif %}">Total Error Num</span></td>
		<td colspan="{{testresult|length}}"><span class="{% if totalError == 0 %}passCount{% else %}failCount{% endif %}">{{totalError}}</span></td>
	</tr>
        <tr>
                 <td>Case Pass Rate</td>
                 {% for device in testresult|dictsort:"phoneName" %}
                 <td><span class="passCount">{{device.summary.Pass}}/{{device.summary.Exce}}={{device.summary.Rate}}%</span></td>
                 {% endfor %}
          </tr>
  	<tr>
		<td><span class="passCount">STRESS Value</span></td>
		<td colspan="{{testresult|length}}"><span class="passCount">Total Execution Time / Total Error Num = {{mtbfValue}}</span></td>
	</tr>
    <tr>
		<td><span class="passCount">总共的值：</span></td>
		<td colspan="{{testresult|length}}"><span class="passCount">{{ us }}
        </span></td>
	</tr>
</table>
{% endblock %}

{% block entry %}
<div>
    {% for i in a %}
    {{ i }}
    {% endfor %}
<br>
    {% if b == 0 %}
        {{ "ok" }}
    {% endif %}
</div>

<div>==================================================================================================1</div>

<script type="text/javascript">
function toggle() {
  theObj = document.getElementById('Sunyanzi1').style;
  if (  theObj.display == "none" ) theObj.display = "block";
	else theObj.display = "none";
}
</script>

<table  class="caseTable" >

		<tr id="table_tittle">
			<th>No.</th><th>用例名称(CASE NAME)</th><th>用例步骤(CASE STEP)</th><th>结果(RESULT)</th><th>运行时间(RUN TIME)</th><th>评论(COMMENTS)</th>
		</tr>
        <tr  class="pass"  onclick="toggle()">

            {#表格中No. #}
			<td name="index" class="index"></td>

            {#表格中用例名称(CASE NAM一列 #}
            <td>{{Acaseclass}}#{{Acasename}}</td>

            {#表格中用例步骤(CASE STEP#}
			<td><a href="{{Acaseurl}}" target="_blank">{{Acasechname}}</a></td>

            {#表格中结果(RESULT)#}
			<td>{{Aispass}}</td>

            {#表格中运行时间(RUN TIME)一列#}
			<td>{{Aexetime}}</td>

            {#表格中评论(COMMENTS)一列#}
			<td>
                {% if entry.fcCount != 0 %}
                <div name="fc">
                    FC：{{entry.fcCount}}
                </div>{% endif %}
                {% if entry.resetCount != 0 %}
                <div name="rs">
                    RESET：{{entry.resetCount}}
                </div>{% endif %}
                {% if entry.tombstoneCount != 0 %}
                <div name="tb">
                    TOMBSTONE：{{entry.tombstoneCount}}
                </div>{% endif %}
                {% if entry.anrCount != 0 %}
                <div name="anr">
                    ANR：{{entry.anrCount}}
                </div>{% endif %}
                {% if entry.ispass != "pass" and entry.fcCount == 0 and entry.tombstoneCount == 0 and entry.anrCount == 0 %}
                <div name="other">
                    click to show the error log
                </div>{% endif %}
            </td>
		</tr>



        <td id="Sunyanzi1" style="display:none">{{ Acasestep }}</td>
</table>
<div>==================================================================================================2</div>
{% endblock %}
{% debug %}